* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #247BA0;
}
.title{
    color: blue;
    background-color: black;
    font-size: 40px;
}
#foto1 {
    width: 100%;
      height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tech{
    color: purple;
    background-color: black;
    font-size: 15;
}
ul {
    float: right;
    background-color: #247BA0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5ADBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5ADBFF;
    height: 22px;
    color: #247BA0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #25e766;
    color: rgb(24, 6, 6);
}

.footer {
    background-color: #dee4e6;
    padding: 0.5em;
    text-align: right;
}
tr:nth-child(even){
    background-color: blue;
    }
    tr:nth-child(odd){
    background-color: rgb(161, 240, 15);
    }
tr:hover{
    background-color: #ebf3ee;
    color: #010203;
}
#foto1:hover{
 padding: 5em;   
 background-color: #010203;
}